html {
  background: linear-gradient(
    to top left,
    #1b1b1d,
    #1b1b1d 8.33%,
    #1c1c1e 8.33%,
    #1c1c1e 16.66%,
    #1d1d1f 16.66%,
    #1d1d1f 24.9%,
    #1e1e20 24.9%,
    #1e1e20 33.32%,
    #1f1f21 33.32%,
    #1f1f21 41.65%,
    #202022 41.65%,
    #202022 49.98%,
    #212123 49.98%,
    #212123 58.31%,
    #222224 58.31%,
    #222224 66.64%,
    #232325 66.64%,
    #232325 74.97%,
    #242426 74.97%,
    #242426 83.3%,
    #252527 83.3%,
    #252527 91.6%,
    #262628 91.6%,
    #262628 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  height: 2000px;
  margin: auto;
  background: linear-gradient(#414143 0 0) calc(1 * 100% / 7.2),
    linear-gradient(#414143 0 0) calc(2 * 100% / 5.15),
    linear-gradient(#414143 0 0) calc(3 * 100% / 4.99),
    linear-gradient(#414143 0 0) calc(4 * 100% / 4.69);
  background-size: 1px 100%; /* Control the width here*/
  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif;
}
.nav_container {
  max-width: 1200px;
  display: flex;
  padding: 75px;
}
.navimg {
  width: 20.4%;
}
.nav_contents {
  padding-top: 50px;
  white-space: nowrap;
}
ul {
  list-style-type: none;
}
ul li a {
  font-size: 19px;
  padding-right: 70px;
  text-decoration: none;
  color: white;
}
ul li a:hover {
  color: rgb(198, 161, 91);
}
main {
  margin-top: 200px;
}
.btm_margin_main {
  margin-bottom: 50px;
  max-width: 1200px;
}
.content_container {
  display: flex;
  max-width: 71%;
  margin-left: auto;
  margin-right: auto;
  font-size: 80px;
  color: rgb(198, 161, 91);
}
.content_img {
  margin-top: -320px;
  margin-left: -115px;
}
.content_img img {
  width: 1100px;
}
